.children {
  width: 70%;
  margin: 70px auto;
}

.hero {
  &__text {
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    color: #333333;
    margin-bottom: 55px;

    &--name {
      font-weight: bold;
      font-size: 65px;
      line-height: 76px;
      color: #333333;
    }
  }

  &__subtext {
    font-weight: bold;
    font-size: 20px;
    line-height: 138.1%;
    color: rgba(51, 51, 51, 0.8);
  }
}
